@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik.ttf');
}

@font-face {
    font-family: "Publico";
    src: url('../fonts/Publico.ttf');
}

* {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

body {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

#page-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

#dec-img {
    width: 25%;
    min-width: 250px;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

#page-content #content {
    width: 95%;
    max-width: 550px;
    background-color: #FFF;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    align-self: center;
    margin: auto;
}

#page-content #content h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #0A0905;
}

#page-content #content h6 {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #382F35;
    opacity: 0.6;
}

#page-content #content input[type='email'],
#page-content #content input[type='tel'],
#page-content #content input[type='text'] {
    width: 90%;
    margin: 10px 0px;
    max-width: 400px;
    height: 43px;
    border: 2px solid #E0E4EF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #646464;
    opacity: 0.8;
    padding: 0px 15px;
    outline: none;
}

#page-content #content .terms {
    text-align: center;
    width: 90%;
    margin: 20px 0px;
    max-width: 400px;
    font-size: 12.5px;
    line-height: 15px;
    color: #999999;
    opacity: 0.6;
}

#page-content #content #password-field {
    display: flex;
    width: 90%;
    margin-top: 10px;
    max-width: 400px;
    height: 43px;
    border: 2px solid #E0E4EF;
    border-radius: 4px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-content #content #password-field input[type='password'] {
    flex: 1;
    height: 43px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #646464;
    opacity: 0.8;
    margin-right: 5px;
    outline: none;
}

#page-content #content #password-field i {
    font-size: 20px;
    color: #E0E4EF;
}

#page-content #content .primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    max-width: 400px;
    height: 43px;
    background: #173797;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

#page-content #content p {
    margin: 20px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C95AE;
}

#page-content #content b {
    font-weight: 600;
    color: #173797;
    cursor: pointer;
}


/*
            
            START OF HEADER 
            
            */

 :root {
    --padding: 5px 50px;
}

#page-content #header {
    width: 100%;
    height: max-content;
    background-color: #FFF;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: +5;
}

#page-content #header #navbar {
    display: flex;
    align-items: center;
}

#page-content #header #navbar img {
    margin-right: 80px;
}

@media (max-width: 1000px) {
    #page-content #header #navbar img {
        margin-right: 15px
    }
}

@media (max-width: 825px) {
     :root {
        --padding: 5px 25px;
    }
    #page-content #header {
        background-color: transparent;
        position: absolute;
    }
    #page-content #header #navbar img {
        width: 15vw;
        min-width: 90px;
    }
    #page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20px;
        z-index: +1;
        position: absolute;
    }
    #page-content #content {
        padding: 30px 0px;
        margin-top: 45px;
        width: 95%;
        z-index: +2;
    }
    #dec-img {
        width: 100%;
    }
}


/*
            
            END OF HEADER 
            
            */

#content {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
}